In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv("coral.csv")
df.head()

,Date,Mean live coral cover (percent),Lower confidence interval,Upper confidence interval,Confidence interval span
0,1985.50000,27.294363,25.357747,29.320783,3.963036
1,1985.52603,27.252621,25.324541,29.269957,3.945416
2,1985.55205,27.210921,25.291290,29.219268,3.927978
3,1985.57808,27.169265,25.257996,29.168717,3.910721
4,1985.60410,27.127654,25.224659,29.118308,3.893649

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
Date                               1000 non-null float64
Mean live coral cover (percent)    1000 non-null float64
Lower confidence interval          1000 non-null float64
Upper confidence interval          1000 non-null float64
Confidence interval span           1000 non-null float64
dtypes: float64(5)
memory usage: 39.1 KB

In [4]:
df["Date"] = df["Date"].apply(lambda x: math.floor(x))

In [5]:
#df.groupby("Date").mean()[["Mean live coral cover (percent)"]].to_csv("coral_cleaned")

In [6]:
# df.groupby("Date").mean()["Mean live coral cover (percent)"].apply(lambda x: int(x)).to_csv("coral_cleaned")

In [7]:
annual = df.groupby("Date").mean()["Mean live coral cover (percent)"].to_frame()

In [8]:
# df["vs_baseline"] = df["Mean live coral cover (percent)"].apply(lambda x: math.floor(x))
df["Mean live coral cover (percent)"].apply(lambda x: (x - 26.900660)/26.900660)

0      0.014635
1      0.013084
2      0.011534
3      0.009985
4      0.008438
5      0.006893
6      0.005350
7      0.003809
8      0.002269
9      0.000732
10    -0.000803
11    -0.002336
12    -0.003867
13    -0.005395
14    -0.006921
15    -0.008445
16    -0.009966
17    -0.011484
18    -0.013000
19    -0.014513
20    -0.016023
21    -0.017530
22    -0.019035
23    -0.020536
24    -0.022035
25    -0.023530
26    -0.025022
27    -0.026511
28    -0.027996
29    -0.029478
         ...
970   -0.461620
971   -0.462712
972   -0.463802
973   -0.464892
974   -0.465979
975   -0.467066
976   -0.468151
977   -0.469235
978   -0.470318
979   -0.471399
980   -0.472479
981   -0.473557
982   -0.474634
983   -0.475710
984   -0.476784
985   -0.477856
986   -0.478927
987   -0.479997
988   -0.481065
989   -0.482131
990   -0.483196
991   -0.484258
992   -0.485320
993   -0.486379
994   -0.487437
995   -0.488494
996   -0.489548
997   -0.490601
998   -0.491652
999   -0.492701
Name: Mean live coral cover (percent), Length: 1000, dtype: float64

In [9]:
change = annual["Mean live coral cover (percent)"].apply(lambda x: int((x - 26.900660)/26.900660*100))

In [10]:
change_before = pd.DataFrame([[i, 0] for i in range(1880, 1985)], columns=["Date", "change"]).set_index("Date")

In [11]:
change = change.to_frame().rename(columns={'Mean live coral cover (percent)':'change'})

In [12]:
cleaned = change_before.append(change)

In [13]:
cleaned.to_csv("coral_cleaned.csv")